@use 'sass:math';
@import "null";
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&family=Comfortaa:wght@300;700&display=swap');

/*font-family: 'Caveat', cursive;
font-family: 'Comfortaa', cursive;*/
body,
html {
   font-family: 'Comfortaa', cursive;
   scroll-behavior: smooth;
   font-size: 16px;
   line-height: 24px;

   li:not(:last-child) {
      margin-bottom: 10px;
   }

   a {
      color: inherit;
   }


}

h1 {
   margin-bottom: 10px;
   font-weight: bold;
   font-size: inherit;
}

h2 {
   font-size: 26px;
   font-family: 'Caveat', cursive;
   text-transform: uppercase;
   position: relative;
   padding-left: 36px;
   margin-bottom: 20px;
   margin-left: 4%;


   &::before {
      content: " ";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 32px;
      height: 32px;
      background: url(../img/cursor.svg) no-repeat center;
      background-size: cover;
   }


}

h3 {
   font-size: 26px;
   margin-left: calc(4%);
   margin-bottom: 20px;
}

.header {
   background: goldenrod;
   width: 20%;
   position: fixed;
   top: 0;
   left: 0;
   height: 100%;
   overflow: hidden;
   outline: 3px dashed gray;

   &__arrow-img {
      display: none;
      width: 60px;
      height: 60px;
      position: absolute;
      bottom: 2%;
      left: 50%;
      transform: translateX(-50%);
      animation: UpandDown 1s infinite linear;

      @media (max-width:700px) {
         & {
            display: block;
         }
      }
   }

   @keyframes UpandDown {
      0% {
         bottom: 2%;
      }

      50% {
         bottom: 4%;
      }

      100% {
         bottom: 2%;
      }

   }



   &__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;
      gap: 30px;
      padding: 0 10px;
      text-align: center;
      z-index: 2;

   }

   &__img {
      width: clamp(300px, 93%, 93%);
      border-radius: 50%;
      position: relative;
      padding-bottom: clamp(300px, 93%, 93%);
      background: url(../img/x07wHFrzgUc.jpg) no-repeat center;
      background-size: cover;
      position: relative;
      border: 1px solid black;

      &::before,
      &::after {
         display: block;
         position: absolute;
         border-radius: 50%;
         border: 1px solid black;
         z-index: -1;
      }

      &::before,
      &::after {
         content: "";
      }

      &::after {
         top: 3%;
         left: -3%;
         width: 103%;
         height: 103%;
      }

      &::before {
         top: -7%;
         right: 20%;
         width: 80%;
         height: 80%;
      }

   }

   &__img-decoration {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;


      &,
      &::before,
      &::after {
         display: block;
         position: absolute;
         border-radius: 50%;

      }

      &::before,
      &::after {
         border: 1px solid black;
         z-index: -1;
         content: "";
      }

      &::after {
         top: -2%;
         left: -6%;
         width: 101%;
         height: 101%;
      }

      &::before {
         bottom: -3%;
         right: -5%;
         width: 95%;
         height: 95%;
      }
   }

   @media (max-width:700px) {
      & {
         position: relative;
         height: 100vh;
         width: 100%;
         outline: none;
      }

      &__img {
         width: 50%;
         padding-bottom: 50%;
      }

      &__img::before,
      &__img::after,
      &__img-decoration {
         display: none;
      }
   }
}

main {
   padding-left: calc(20% + 30px);
   padding-right: 30px;
   padding-bottom: 30px;

   @media (max-width:700px) {
      & {
         padding-left: 30px;
      }
   }

   .nav {
      font-family: 'Caveat', cursive;
      font-size: 24px;
      font-weight: bold;
      min-height: 40px;
      display: flex;
      align-items: center;
      padding: 10px 0;
      text-transform: uppercase;

      @media (max-width:700px) {
         & {
            padding-top: 30px;
         }
      }

      &__list {
         display: flex;
         flex-wrap: wrap;
         flex: 1 1 auto;
         gap: 10px 30px;

      }

      &__link:hover {
         transition: all ease 0.3s;
         transform: scale(1.07);
      }
   }

   .education,
   .contacts,
   .skills,
   .about,
   .portfolio {
      padding: 30px 0 20px 0;

   }

   .info {
      padding: 30px 0;
   }

   .education {


      &__content {
         display: flex;
         flex-wrap: wrap;
         gap: 20px;
         justify-content: center;
         padding-top: 20px;

      }

      &__content-item {
         width: clamp(200px, 33%, 400px);
         position: relative;
         padding-bottom: clamp(150px, 250/1092*100%, 200px);
         box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.07);
      }

      &__content-img {
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         object-fit: contain;
      }
   }

   .contacts {

      &__list-link {
         line-height: 25px;
         padding-left: 40px;
      }

      &__list-item {
         cursor: pointer;
      }

      &__list-item:hover a {
         color: goldenrod;
      }

      .tel {
         background: url(../img/tel.svg) no-repeat center left;
      }

      .telegram {
         background: url(../img/telegram.svg) no-repeat center left;
      }

      .insta {
         background: url(../img/insta.svg) no-repeat center left;
      }

      .gmail {
         background: url(../img/mail.svg) no-repeat center left;
      }

      .vk {
         background: url(../img/vk.svg) no-repeat center left;
      }
   }

   .about {
      &__text {
         margin-bottom: 20px;
      }
   }

   .portfolio {
      .project {
         &__item {
            padding: 20px 0;

         }

         &__container {
            display: flex;
            flex-wrap: wrap;
            gap: 50px;
            align-items: center;

            @media (max-width:700px) {
               & {
                  justify-content: center;
               }
            }


         }

         &__img-container {
            box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.07);
            position: relative;
            width: 300px;
            height: 200px;
            display: inline-block;
            filter: grayscale(100%);
            transition: all ease 0.3s;

            &:hover {
               filter: grayscale(0);
            }
         }

         &__img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: fill;

         }

         &__description {
            display: block;
            width: calc(100% - 350px);
         }

         &__description-text {
            list-style: circle;
         }

         @media (max-width:900px) {
            &__description {
               width: 100%;
            }
         }
      }


   }

}